<section class="jumbotron text-center">
  <div class="container">
    <h1 class="jumbotron-heading">Riley Grigg's Portfolio</h1>
    <p class="lead text-muted">This is a portfolio with things Riley has done.</p>
    <p>
      <%= link_to 'New Portfolio Item', new_portfolio_path, class: 'btn btn-primary' %>
    </p>
  </div>
</section>
