<div class="inner cover">
  <h1 class="cover-heading">Welcome, <%= current_user.first_name %></h1>
  <p class="lead">This is my portfolio site.</p>
  <p class="lead"></p></p>
    <%= link_to "About Me", about_me_path, class: "btn btn-lg btn-secondary home-about" %>
  </p>
</div>
