// Place all the styles related to the Comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@font-face {
   font-family: myFirstFont;
   src: url(rileysHandwritingV2.ttf);
}

body {
  font-family: 'Satisfy', cursive;
  color: #555;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  font-family: 'Satisfy', cursive;
  font-weight: normal;
  color: #333;
}

p {
  font-family: myFirstFont;
}
